
.cart{
    width: 100%;
    align-items: center;
    border: 1px solid silver;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px;
}
.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
    padding-bottom: 1rem;
}
.cart-header h2{
    margin: 0;
  
}

.card-header a{
    text-decoration: none;
    font-size: 1.5rem;
    
}
.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.action-buttons{
   padding: 1rem 0;
}
.action-buttons button{
    cursor: pointer;
    padding: 0.75rem 3rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin: 0.5rem 0;

   
}

.order-button{
    background-color: rgb(88, 215, 88);
    color: #fff;
}
.cart-clear{
    background-color: rgb(186, 5, 5);
    color: #fff;
}
.action-buttons button:hover{
    background-color: #666;
}