.products-wrapper {
 width: 100%;
 padding: 50px 10%;
 background-color: rgb(226, 224, 224);
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 0;

}

